html {
    color: rgb(15, 17, 17);
}

a {
    width: 100%;
}


/*HEADER*/

header {
    border-bottom: solid black 2px;
    margin-bottom: 20px;
}

.logo_header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo_header img {
    width: 10%;
    margin: 15px 200px 0 80px;
}

.logo_header h1 {
    text-transform: uppercase;
    font-size: 3em;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

.searchbar {
    text-align: right;
    margin: 0 20px 15px 0;
}


/* CONNEXION */

.connexion_form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 2em 5em;
}


/* ENREGISTREMENT */

.enregistrement {
    text-align: center;
    border: black solid 1.5px;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

.enregistrement form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}


/*ARTICLE_SAMPLE*/

.article_sample {
    border: black solid 1.5px;
    width: 75%;
    margin: 25px 20px 25px 20px;
    padding: 25px;
}

.titre_article_sample {
    display: flex;
    border-bottom: black solid 1px;
    margin-bottom: 10px;
}

.article_sample_inner {
    display: flex;
}

.article_sample_inner_text {
    width: 75%;
    margin-right: 20px;
    text-align: justify;
}

.article_sample_inner img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
}

.contenu_sample img {
    width: 50%;
}

.categorie,
.categorie a {
    text-transform: uppercase;
    /* color: blue; */
}


/* ARTICLE UNIQUE */

#article_unique {
    border: solid black 1px;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.titre_article_unique strong {
    font-size: 1.5em;
}

#article_unique img {
    text-align: center;
    width: 80%;
    margin: 2% 10%;
}


/* FOOTER */

footer {
    border-top: solid black 2px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a {
    width: auto;
    float: left;
}

footer img {
    width: 8%;
    margin: 15px 80px 0 80px;
}

footer h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    margin-right: 10em;
}

footer p {
    font-weight: bold;
}